<h3>Job</h3>
<ul>
    <li>id:&nbsp;{{id}}</li>
    <li>application:&nbsp;{{application}}</li>
    <li>type:&nbsp;{{type}}</li>
    <li>label:&nbsp;{{label}}</li>
    <li>origin:&nbsp;{{origin}}</li>
    <li>priority:&nbsp;{{priority}}</li>
    <li>workflow:&nbsp;{{workflow}}</li>
</ul>
