<h3>Job</h3>
<ul>
    <li>id={{id}}</li>
    <li>application={{application}}</li>
    <li>type={{type}}</li>
    <li>label={{label}}</li>
    <li>origin={{origin}}</li>
    <li>priority={{priority}}</li>
    <li>workflow={{workflow}}</li>
</ul>
